<!DOCTYPE html>
<html lang="en">

<head>
    <title>Add Trip</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container" style="width: 50%;">
        <a href="/main" class="btn btn-primary" style="margin-top:5px;">Home</a>
        <a href="/" class="btn btn-primary" style="margin-top:5px;">Sign Out</a>
        <h1>Add a Trip</h1>
        <form action='/create' method='post'>
            {% csrf_token %}
            <div class="form-group">
                Destination: <input type='text' class="form-control col-xs-4" name="dest">
            </div>
            <div class="form-group">
                Description: <input type="text" class="form-control col-xs-4" name="plan">
            </div>
            <div class="form-group">
                Travel Date From: <input type="date" class="form-control col-xs-4" name="start_date" min="2017-09-25"><br>must be future e...
            </div>
            <div class="form-group">
                Travel Date To: <input type="date" class="form-control col-xs-4" name="end_date"><br>must be future date...

            </div>
            <input type='submit' class="btn btn-primary" name="Add">
        </form>
    </div>
</body>

</html>