<!DOCTYPE html>
<html lang="en">

<head>
    <title>User Info</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <a href="/main" class="btn btn-primary" style="margin-top:5px;">Home</a>
    <a href="/signOut" class="btn btn-primary" style="margin-top:5px;">Sign Out</a>
    <div class="container jumbotron">
        {% for trip in trips %}
            <h2>Trip {{ trip.destination }}</h2>
            <p>Planned By: {{leader.name}}</p>
            <p>Description: {{trip.plan}}</p>
            <p>Travel Date From: {{trip.start}}</p>
            <p>Travel Date End: {{trip.end}}</p>
        {% endfor %}
    </div>
    <div class="container jumbotron">
        <h2>Other users' joining the trip:</h2>
        {% for person in group %}
            <p>Name: {{ person.name }}</p>
        {% endfor %}
    </div>
</body>

</html>